@font-face {
  font-family: "mont-heavy";
  src: url(../assets/fonts/mont-heavy.ttf) format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "mont-heavy", sans-serif;
  margin-bottom: 0;
  letter-spacing: 1px;
}

button {
  cursor: pointer;
}

textarea {
  font-family: Verdana, sans-serif;
}
