.loginPage {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #151d26;
}

.leftDiv {
  width: 45%;
  height: 100vh;
  background-image: url(/tweet.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-bottom: 50px;
}

.rightDiv {
  width: 55%;
  height: 100vh;
  color: white;
  padding: 20px;
}
.rightDiv h1,
.rightDiv h2 {
  color: white;
}
.rightDiv h1 {
  font-size: 3rem;
}

.popover_btns {
  width: fit-content;
}
.popover_btns p {
  text-align: center;
  margin: 15px 0;
  font-weight: bold;
}

/* .rightDivContent; */
